@charset "utf-8";

/* reset */
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,
form,fieldset,legend,input,textarea,button,select, 
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary, 
time, mark, audio, video{
    margin:0; padding:0; font-size:100%;
}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0}
h1,h2,h3,h4,h5,h6,address,caption,em{font-style:normal; font-weight:normal;}
ul,ol,dl{list-style:none;}
hr{display:none;}
button{overflow:visible; margin:0; padding:0; border:0 none; background:transparent; cursor:pointer;}
caption{font-size:0; line-height:0; margin:0; padding:0; border:none; visibility:hidden;}
legend{display:block;position:absolute;top:-9999px;left:-9999px;width:1px;height:1px;line-height:0;overflow:hidden;font-size:0;text-indent:-9999px}
input,button,textarea,select,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {display:block;}
a:link, a:visited, a:active {text-decoration:none; color:#555;}
a:focus, a:hover {color:#666;}

/* common */
html{font:12px/1.5em '나눔고딕',NanumGothic,"Malgun Gothic", "돋움", Dotum, Arial, "Helvetica Neue", Helvetica, Verdana, sans-serif; color:#666;}
html, body, .layout_con{width: 100%; min-width: 960px;}
.response{position: relative; margin: 0 auto; width: 960px; height:100%; clear:both;}
.lang_en{font-family:"Open Sans", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif}
.hide {visibility:hidden}
.visible {display:block;position:absolute;top:-9999px;left:-9999px;width:1px;height:1px;line-height:0;overflow:hidden;font-size:0;text-indent:-9999px}

.link_area{min-width: 100%; height:45px; background-color:#48beb5; text-align: right; z-index: 999;}
.link_area .sub_title{float:left; font-size: 18px;line-height: 45px; font-weight: bold; color: #fff;}
.link_area a.link_app{
    position: relative;
    margin-top: 8px; 
    padding-left:10px; 
    display:inline-block; 
    width:170px; height: 27px; 
    border:1px solid #fff; 
    line-height: 27px; 
    text-align: left; 
    color:#fff;
    z-index: 1;
}
.link_area a.link_app:before {
    -webkit-transition: right .3s ease; /* For Safari 3.1 to 6.0 */
    transition: right .3s ease;
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 100%;
    background: #2c9890;
}
.link_area a.link_app:hover:before{
    right:0;
}
.link_area a.link_app:after{
    content: "";
    display: block;
    position: absolute;
    left:0; top:0;
    width: 180px; height:27px;
    background: url(../images/arrow2.png) no-repeat 165px center; 
}
.link_area .inner_link_btn{margin:0 20px; line-height: 45px; color:#fff; font-size:14px;}
.link_area .moving_border{position: absolute; right:217px; bottom:13px; width:90px; height:2px; background-color: #fff;}


.con_title{font-size: 30px; line-height: 40px; color:#48beb5; font-weight:bold;}
.second_title{font-size: 24px; line-height: 30px; color:#323232; font-weight:bold; }
.middle_title{font-size: 22px; line-height: 24px; color:#323232;}
.third_title{font-size: 18px; line-height: 30px; color:#323232;}
.detail_txt{padding-top: 15px; line-height: 20px; font-size: 15px;}



/* header */
#header{position:absolute; margin: 0 auto; height:70px; background-color: #fff; opacity: 0.9; filter: alpha(opacity=90); z-index: 9999;}
#header.fixed{position: fixed; left:0; top:0;}
#header .logo{position: absolute; top:17px; left:0;}
#header .gnb{overflow: hidden;}
#header .gnb ul{float: right;}
#header .gnb ul li{float:left;}
#header .gnb ul li a{display: inline-block; width: 110px; height: 70px; text-align: center; line-height: 70px; color:#20aba0; font-size:15px;  }
#header .gnb ul li a:hover{background-color:#48beb5; color:#fff;}
#header .gnb ul li a.active{background-color: #48beb5; color:#fff;}

/* footer */
#footer{margin: 0 auto; height: 88px; border-top:1px solid #e0e0e0; padding-top:27px; color: #b4b4b4;}
#footer .footer_logo{float:left; padding-top:4px;}
#footer .footer_txt{float:left; padding-left: 40px;}
#footer .address, footer .tel{display: inline;}
#footer .copyright{font-family:"Lucida Grande", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;}

/* main */
.main{min-width: 960px; min-height: 629px; background-image: url('../images/main_img.jpg'); background-size: cover; background-position: center;}
.main .main_title{padding-top:178px; font-size: 50px; line-height:70px; color:#fff; font-weight:bold;    }
.main .main_txt_area{background-color:#48beb5; width:428px; height: 195px; opacity: 0.6; filter: alpha(opacity=60);  }
.main .main_txt{position: absolute; top:330px; padding-left: 17px;}
.main .main_txt li{font-size: 18px; line-height:28px; color:#fff;  font-weight:bold; }

.business_con{padding-top: 90px; height:617px; box-sizing:border-box;}
.business_con>div{background:url(../images/business.png) no-repeat right 163px;}

.marketing_con{height:451px; text-align: center; padding-top: 52px; background-color: #5dc8c1; color:#fff; box-sizing:border-box;}
.marketing_con>div{background: url(../images/marketing_num.png) no-repeat 215px 110px;}
.marketing_con .center_title{font-size: 30px; line-height: 40px; color:#fff;}
.marketing_con .detail_txt{overflow: hidden; padding-top:110px; bottom: 120px; text-align: right;}
.marketing_con .detail_txt .txt_area{float: left; width:265px; padding-right:40px;}
.marketing_con .detail_txt .txt_area .sm_title{font-size: 17px; line-height:42px;}

.yellomarket_con{padding-top: 90px; height:639px; box-sizing:border-box;}
.yellomarket_con>div{background:url(../images/main_ym.png) no-repeat right 30px;}

.circle_link_btn{
    position:relative;
    top:6px;
    margin-left: 15px;
    display: inline-block; 
    width:40px; height:40px; 
    background-color: #c4c4c4; 
    background-image:url(../images/arrow.png); 
    background-repeat:no-repeat; 
    background-position:center; 
    border-radius: 20px;
}
.circle_link_btn:hover{background-color: #48beb5;}

/* company */
.company_wrap .company_img{min-width: 960px; height: 165px; background-image: url('../images/company_img.jpg'); background-size: cover; background-position: center;}

.company_wrap .aboutPolared_con{padding-top: 110px; height:605px; box-sizing:border-box;}
.company_wrap .aboutPolared_con>div{background:url(../images/company_polared.png) no-repeat 540px 110px;}
.company_wrap .aboutPolared_con>div .second_title{padding-top: 30px;}

.company_wrap .business_con{padding-top: 60px; background-color: #f1f1f1; height:490px;}
.company_wrap .business_con>div{background:url(../images/business.png) no-repeat right 145px;}
.company_wrap .marketing_con{height:405px; padding-top: 40px; background-color: #5dcd7a;}
.company_wrap .marketing_con>div{background: url(../images/marketing_num.png) no-repeat 215px 80px;}
.company_wrap .marketing_con .detail_txt{padding-top:83px;}

.company_wrap .location_con{height:608px; padding-top: 93px; box-sizing:border-box;}
.company_wrap .location_con>div{background: url(../images/location_map.gif) no-repeat right 70px;}
.company_wrap .location_con>div .third_title{padding-top: 30px;}

/* service */
.service_wrap .link_area .moving_border{position: absolute; right:105px; bottom:13px; width:79px; height:2px; background-color: #fff;}
.service_wrap .service_img{min-width: 960px; height: 165px; background-image: url('../images/service_img.jpg'); background-size: cover; background-position: center;}

.service_wrap .yellomarket_con{padding-top: 85px; height:605px; box-sizing:border-box;}
.service_wrap .yellomarket_con>div{background:url(../images/service_ym.png) no-repeat right bottom;}
.service_wrap .yellomarket_con>div .second_title{font-weight: bold;}
.service_wrap .yellomarket_con>div .logo{vertical-align: middle; margin-right: 17px;}

.service_wrap .icignal_con{padding-top: 60px; height:590px; box-sizing:border-box;}
.service_wrap .icignal_con>div{background:url(../images/service_icignal.png) no-repeat right 217px;}
.service_wrap .icignal_con>div .logo{vertical-align: middle; margin-right: 17px;}
.service_wrap .icignal_con>div .middle_title{padding-top: 25px;}

.yellomarketApp_con{padding-top: 105px; height:490px; box-sizing:border-box; background:url(../images/service_bg.jpg) no-repeat center; background-size: cover; color:#fff;}
.yellomarketApp_con .txt_area{position: absolute; top: 0; right: 0; width: 373px;}
.yellomarketApp_con .txt_area .ymapp_title{padding-bottom: 20px; font-size: 40px; line-height: 1.5; font-weight:bold;}
.yellomarketApp_con .middle_title{line-height: 1.3; color:#fff;}

.yellomarketApp_con2{padding-top: 50px; height:375px; box-sizing:border-box; background-color:#e3e3e3;}
.yellomarketApp_con2 .txt_area{display: inline-block; width: 592px; text-align: right;}
.yellomarketApp_con2 .middle_title{line-height: 1.3; color:#323232; font-weight:bold;}
.yellomarketApp_con2 .txt_appDown{padding:45px 0 10px 0;}
.app_down_area{float: right; color:#fff;}
.app_down_area>a{display: inline-block; float: left; position: relative; margin-left: 4px; padding:7px; padding-right: 22px; width: 143px; height: 26px; background-color: #7a7a7a; border:1px solid #babfbf; cursor: pointer; color:#fff;}
.app_down_area>a:hover{background-color:#48beb5; color:#fff;}
.app_down_area span{display: block; font-size: 16px; line-height: 17px;}
.app_down_area .icon{position: absolute; left: 20px; top: 7px; display: inline-block; width: 25px; height: 30px; background-image: url(../images/ico_app_down.png); background-position: 0 0; background-repeat: no-repeat;}
.app_down_area .android_down .icon{background-position: -40px 0;}
.app_down_area .txt_download{font-size: 8px; line-height: 8px;}
.app_down_area .txt_google{padding-top: 3px;}
.service_wrap .yellomarketApp_con2 .phone_img{position: absolute; right: 0; top: -190px;}

.iotManager_con{padding-top: 45px; height:580px; box-sizing:border-box; background-color:#e3e3e3; color: #fff;}
.iotManager_con .middle_title{color:#444; font-weight: bold;}
.iotManager_con .iot_wrap{overflow: hidden; padding: 30px 0 0 176px;}
.iotManager_con .iot_wrap .iot_img{float: left; vertical-align: top;}
.iotManager_con .iot_wrap .iot_txt{float: left; overflow: hidden; margin-left: 7px; width:544px; box-sizing:border-box;}
.iotManager_con .iot_wrap .iot_txt>div{float: left; margin-bottom: 11px;}
.iotManager_con .iot_wrap .iot_txt .txt_box{float: left; padding: 2px; background-color: #b5b5b5; border:1px solid #fff; text-align: center;}
.iotManager_con .iot_wrap .iot_txt .txt_box h4{font-size: 15px; line-height: 20px; font-weight: bold;}
.iotManager_con .iot_wrap .iot_txt .iot_adm .txt_box{margin-right:11px; padding:20px; width: 132px; height: 91px; }
.iotManager_con .iot_wrap .iot_txt .iot_adm .txt_box h4{padding-bottom: 22px;}
.iotManager_con .iot_wrap .iot_txt .iot_workflow>div{float: left;}
.iotManager_con .iot_wrap .iot_txt .iot_workflow .txt_box{margin-right:4px; padding:5px; width: 121px; height: 58px; }
.iotManager_con .iot_wrap .iot_txt .iot_workflow .txt_box.txt_workflow{width:532px; height: 49px; margin-bottom: 2px; margin-right: 0;}
.iotManager_con .iot_wrap .iot_txt .iot_event .txt_box{margin-right:2px; width: 265px; height: 59px; }
.iotManager_con .iot_wrap .iot_txt .iot_event>div{float: left;}
.iotManager_con .iot_wrap .iot_txt .iot_event .event_first_area{margin-bottom: 3px;}
.iotManager_con .iot_wrap .iot_txt .txt_box.last{margin-right:0; }

.iotManager_analysis_con{padding-top: 45px; height:556px; box-sizing:border-box;}
.iotManager_analysis_con>div{background:url(../images/iot_manager_analysis.png) no-repeat 179px 86px;}
.iotManager_analysis_con .middle_title{color:#444; font-weight: bold;}
.iotManager_analysis_con .txt_area{position: absolute; right: 115px; top:86px;}
.iotManager_analysis_con .txt_area.detail_txt{padding-top: 0;}
.iotManager_analysis_con .txt_area .iot_analysis_tit{font-size: 18px; line-height: 25px; color: #48beb5;}
.iotManager_analysis_con .txt_area .detail_contents{padding-bottom: 20px;}

/* contact */
.contact_wrap .contact_img{min-width: 960px; height: 165px; background-image: url('../images/contact_img.jpg'); background-size: cover; background-position: center;}
.contact_wrap .middle_title{line-height: 45px; color:#666;}
.contact_contents{height: 800px; padding-top: 100px; text-indent: 196px; box-sizing: border-box;}
.contact_contents .email{padding-top: 10px; height: 160px; background: url(../images/ico_mail.png) no-repeat left top;}
.contact_contents .tel{padding-top: 10px; height: 160px; background: url(../images/ico_tel.png) no-repeat left top;}
.contact_contents .address{padding-top: 10px; height: 160px; background: url(../images/ico_address.png) no-repeat left top;}