html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1.6;
  letter-spacing: -1px;
  font-weight: 300;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a:link,
a:visited {
  color: #fff;
  text-decoration: none;
}
a:hover,
a:active,
a.active {
  color: #009cdb;
  text-decoration: none;
}
a:focus,
button:focus,
input:focus,
select:focus,
textarea:focus {
  outline: 5px auto #009cdb;
}
.frame-transition {
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.lnb-line {
  display: inline-block;
  width: 2px;
  height: 26px;
  background-color: #191919;
}
body {
  background-color: #252525;
  font-family: 'Noto Sans KR';
  color: #333333;
}
.progress {
  position: relative;
  width: 245px;
  height: 5px;
  margin-top: 20px;
  margin-bottom: 30px;
  background: #e5e5e5;
  overflow: visible;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.progress .progress-bar {
  background: #ec257a;
  background: -webkit-linear-gradient(left, #ec257a 0%, #672e89 50%, #3ac0d4 100%);
  background: -o-linear-gradient(left, #ec257a 0%, #672e89 50%, #3ac0d4 100%);
  background: linear-gradient(to right, #ec257a 0%, #672e89 50%, #3ac0d4 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ec257a', endColorstr='#3ac0d4', GradientType=1);
  border-radius: 4px;
}
.progress span {
  position: absolute;
  top: -5px;
  left: 255px;
  line-height: 1;
  letter-spacing: 0;
}
.btn_arr {
  width: 40px;
  height: 40px;
  border: 1px solid #e5e5e5;
  background: url(../images/arr_btn_bl.png) center center no-repeat;
}
.btn_arr.btn_white {
  background-image: url(../images/arr_btn_wh.png);
}
.line {
  display: block;
  width: 24px;
  height: 1px;
  background: #dddddd;
}
.slider_wrap {
  position: relative;
  width: 100%;
}
.slider_wrap li {
  width: 100%;
  position: absolute;
  /* .brand_logo {
			position: absolute;
			top: 50%;
			left: 50%;
			-webkit-transform: translate(-50%, -50%);
			-ms-transform: translate(-50%, -50%);
			-o-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
		} */
}
.slider_wrap li.first {
  left: 0;
  top: 0;
}
.slider_wrap li.second {
  left: 799px;
  top: 0;
}
.slider_wrap li .img_item {
  width: 100%;
}
/* 스킵네비게이션 */
.skip_nav a {
  position: absolute;
  top: -200px;
}
.skip_nav a:focus,
.skip_nav a:active {
  top: 0px;
  left: 0;
  display: block;
  padding: 3px;
  width: 100%;
  color: #fff;
  text-align: center;
  font-weight: bold;
  background: #115aa3;
  z-index: 9999;
}
.header {
  position: relative;
  height: 90px;
  background-color: #252525;
  color: #fff;
  letter-spacing: 0;
}
.header .logo {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.header .btn_gnb {
  border: 0;
  background: 0;
  width: 80px;
  height: 90px;
}
.header .btn_gnb span[class^=bar_] {
  width: 18px;
  height: 1px;
  display: block;
  margin: 5px auto 0;
  background-color: #fff;
}
.header .btn_gnb span.bar_top {
  margin-top: 0;
}
.header .gnb {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
}
.header .gnb ul {
  margin-top: -5px;
  background-color: #252525;
}
.header .gnb ul li a {
  display: inline-block;
  padding: 0 35px;
  height: 90px;
  line-height: 90px;
  font-family: Roboto;
  font-size: 14px;
}
.header .util_menu {
  position: absolute;
  right: 15px;
  top: 0;
}
.header .util_menu li {
  float: left;
}
.header .util_menu li a {
  display: inline-block;
  padding: 0 15px;
  height: 90px;
  line-height: 90px;
  font-family: Roboto;
  font-size: 12px;
}
.lnb_wrap {
  position: absolute;
  left: -880px;
  width: 880px;
  height: 100%;
  height: -webkit-calc(100% - 90px);
  height: -moz-calc(100% - 90px);
  height: calc(100% - 90px);
  z-index: 1;
  -webkit-transition: all 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  -moz-transition: all 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  -o-transition: all 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  transition: all 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  overflow: hidden;
}
.lnb_wrap.on {
  left: 0;
}
.lnb_wrap.on .btn_lnb {
  border-right: 1px solid transparent;
  background-color: #252525;
  border-top: 1px solid transparent;
  color: #fff;
  -webkit-animation-name: lnbOpen;
  animation-name: lnbOpen;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
}
.lnb_wrap.on .btn_lnb .lnb_line {
  background-color: #fff;
}
.lnb_wrap.on .btn_lnb .lnb_line:before {
  background-color: #fff;
}
.lnb_wrap.on .btn_lnb .lnb_line:after {
  background-color: #fff;
}
.lnb_wrap.on + .content_wrap {
  margin-left: 880px;
}
.lnb_wrap.off .btn_lnb {
  -webkit-animation-name: lnbClose;
  animation-name: lnbClose;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@-moz-document url-prefix() {
  .lnb_wrap .lnb_box {
    margin-right: -16px;
  }
}
.lnb_wrap .lnb_box {
  margin-left: 60px;
  padding: 87px 20px 0 80px;
  height: 100%;
  background-color: #252525;
  color: #fff;
  overflow-x: hidden;
  overflow-y: auto;
  -ms-overflow-style: none;
}
.lnb_wrap .lnb_box::-webkit-scrollbar {
  display: none;
}
.lnb_wrap .lnb_box ul li {
  border-top: 1px solid #333333;
}
.lnb_wrap .lnb_box ul li a {
  display: table;
  padding: 25px 20px;
  width: 100%;
}
.lnb_wrap .lnb_box ul li a .lnb_td {
  display: table-cell;
  vertical-align: middle;
}
.lnb_wrap .lnb_box ul li a .lnb_td .title {
  font-size: 24px;
  font-weight: 300;
}
.lnb_wrap .lnb_box ul li a .lnb_td .brand {
  font-size: 12px;
  color: #888888;
  letter-spacing: 0;
  text-transform: uppercase;
}
.lnb_wrap .lnb_box ul li a .lnb_td .left_time {
  font-size: 14px;
  color: #888888;
  letter-spacing: 0;
}
.lnb_wrap .lnb_box ul li a .lnb_td .percentage {
  font-size: 24px;
  font-weight: 300;
}
.lnb_wrap .lnb_box ul li a .lnb_td:first-child {
  width: 55%;
}
.lnb_wrap .lnb_box ul li a .lnb_td:nth-child(2) {
  width: 20%;
  text-align: center;
}
.lnb_wrap .lnb_box ul li a .lnb_td:last-child {
  width: 25%;
  text-align: center;
}
.lnb_wrap .lnb_box ul li a:hover {
  color: #fff;
}
.lnb_wrap .btn_lnb {
  display: none;
  position: fixed;
  top: 90px;
  left: 0;
  width: 60px;
  height: 100%;
  border: 0;
  border-top: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  background-color: #fff;
  color: #000;
}
.lnb_wrap .btn_lnb .lnb_line {
  position: relative;
  display: inline-block;
  width: 2px;
  height: 26px;
  background-color: #191919;
}
.lnb_wrap .btn_lnb .lnb_line:before {
  content: '';
  position: absolute;
  left: -6px;
  display: inline-block;
  width: 2px;
  height: 26px;
  background-color: #191919;
}
.lnb_wrap .btn_lnb .lnb_line:after {
  content: '';
  position: absolute;
  left: 6px;
  display: inline-block;
  width: 2px;
  height: 26px;
  background-color: #191919;
}
.content_wrap {
  position: relative;
  -webkit-transition: all 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  -moz-transition: all 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  -o-transition: all 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  transition: all 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.frame {
  overflow: hidden;
}
.frame > ul > li {
  position: relative;
  padding: 20px;
  border-top: 1px solid #e5e5e5;
  background-color: #fff;
}
.frame > ul > li:first-child {
  border-top: 0;
}
.frame > ul > li:last-child {
  border-top: 0;
  background-color: #252525;
}
.frame > ul > li p.title {
  font-size: 34px;
  color: #010101;
}
.frame > ul > li h3 {
  font-size: 24px;
  color: #010101;
}
.frame > ul > li .article {
  position: relative;
}
.time {
  margin-bottom: 30px;
  color: #e5e5e5;
  line-height: 1;
}
.time .time_num {
  font-family: Roboto;
  font-size: 70px;
  font-weight: bold;
}
.time .time_txt {
  font-family: Roboto;
  font-size: 14px;
  letter-spacing: 0;
  text-transform: uppercase;
}
.time .deadline {
  position: relative;
  margin-left: 10px;
  padding-left: 10px;
  font-weight: 400;
  color: #333;
}
.time .deadline:before {
  content: '';
  display: inline-block;
  position: absolute;
  top: 3px;
  left: 0;
  width: 1px;
  height: 14px;
  background: #dddddd;
}
.item_area .brand {
  display: inherit;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 0;
  color: #bbbbbb;
  text-transform: uppercase;
}
.item_area .title {
  margin-top: 15px;
  margin-bottom: 30px;
  font-weight: 400;
  line-height: 1;
}
.item_area .img_area {
  position: relative;
  overflow: hidden;
  height: 185px;
  border: 1px solid #eeeeee;
  /* min-height: 211px; */
  /* .swiper-container {
			width: 100%;
			height: 100%;
			.swiper-slide {
				width: 100% !important;
			}
		}*/
  /* .slider {width: auto;} */
}
.item_area .img_area.blind_img .img_item {
  -webkit-filter: grayscale(60%) blur(10px);
  filter: grayscale(60%) blur(10px);
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
.item_area .img_area .img_item {
  display: block;
}
.item_area .img_area .btn_arr {
  position: absolute;
  bottom: 2px;
  right: 2px;
  background-color: rgba(0, 0, 0, 0.3);
}
.item_area .img_area .btn_arr.move_left {
  right: 44px;
}
.item_area .img_area .btn_arr.move_right {
  -webkit-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg);
}
.item_area .move_area .desc {
  margin-top: 25px;
  margin-bottom: 30px;
  min-height: 23px;
}
.item_area .move_area .desc > a {
  color: #333333;
  text-decoration: underline;
}
.item_area .move_area .point {
  display: block;
  padding-bottom: 20px;
  min-height: 35px;
  font-size: 15px;
  line-height: 1;
  color: #3995d0;
}
.item_area .move_area .hash_tag {
  min-height: 19px;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0;
  color: #3995d0;
}
.item_area .move_area .hash_tag span {
  padding-right: 10px;
}
.item_area .move_area .hash_tag span:last-child {
  padding-right: 0;
}
.info_area .btn_arr {
  display: none;
  position: absolute;
  top: 50%;
  right: 20px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.info_area .txt_info p.title {
  margin-bottom: 20px;
  text-transform: uppercase;
  line-height: 1.3;
  font-weight: 400;
}
.notice_area .tit_notice {
  position: relative;
  margin: 40px 0 20px 0;
  font-size: 15px;
  line-height: 1;
  letter-spacing: 0;
  color: #000;
}
.notice_area .notice_list {
  margin-top: 15px;
}
.footer .btn_arr {
  display: none;
  position: absolute;
  top: 50%;
  left: 20px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.footer .footer_area {
  font-size: 13px;
  letter-spacing: 0;
}
.footer .footer_area .footer_policy {
  margin-bottom: 20px;
  color: #dddddd;
}
.footer .footer_area .footer_policy li {
  float: left;
  padding-right: 24px;
}
.footer .footer_area .footer_info {
  margin: 20px 0;
  color: #888888;
}
.footer .footer_area .footer_info span {
  padding-right: 10px;
}
.footer .footer_area .footer_copy {
  font-size: 12px;
  color: #555555;
}
@media (min-width: 1024px) {
  html,
  body,
  .wrap {
    width: 100%;
    height: 100%;
  }
  .header .logo {
    left: 20px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .header .gnb_wrap .btn_gnb {
    display: none;
  }
  .header .gnb {
    display: block;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    width: auto;
  }
  .header .gnb ul {
    margin-top: 0;
  }
  .header .gnb ul li {
    float: left;
  }
  .lnb_wrap {
    left: -820px;
  }
  .lnb_wrap .btn_lnb {
    display: block;
  }
  .content_wrap {
    margin-left: 60px;
    height: 100%;
    height: -webkit-calc(100% - 90px);
    height: -moz-calc(100% - 90px);
    height: calc(100% - 90px);
  }
  .frame {
    height: 100%;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
  }
  .frame > ul {
    height: 100%;
  }
  .frame > ul > li {
    float: left;
    width: 400px;
    height: 100%;
    border-right: 1px solid #e5e5e5;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
  }
  .frame > ul > li:last-child {
    border-right: 0;
  }
  .frame > ul > li:not(:first-child):not(:last-child) {
    cursor: grab;
  }
  .frame > ul > li.active .tit_area {
    -webkit-animation-name: upTitle;
    animation-name: upTitle;
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
  }
  .frame > ul > li.active .img_area {
    width: 779px;
    height: 458px;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    /* .brand_logo {
							opacity: 0;
							.frame-transition();
						} */
  }
  .frame > ul > li.active .img_area.blind_img .img_item {
    -webkit-filter: grayscale(60%) blur(10px);
    filter: grayscale(60%) blur(10px);
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
  }
  .frame > ul > li.active .img_area .img_item {
    width: 779px;
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
  }
  .frame > ul > li.active .img_area .btn_arr {
    opacity: 1;
    display: block;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
  }
  .frame > ul > li.active .move_area {
    -webkit-animation-name: upContent;
    animation-name: upContent;
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
  }
  .frame > ul > li.active:not(:first-child):not(:last-child) {
    width: 820px;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
  }
  .frame > ul > li .article {
    float: right;
    width: 359px;
    height: 100%;
  }
  .item_area {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  .item_area .tit_area {
    position: relative;
    bottom: 360px;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  .item_area .img_area {
    position: absolute;
    right: 0;
    top: -280px;
    width: 359px;
    height: 211px;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    z-index: 1;
    /* .brand_logo {
				opacity: 1;
				.frame-transition();
			} */
  }
  .item_area .img_area .img_item {
    width: 359px;
    -webkit-filter: grayscale(60%);
    filter: grayscale(60%);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
  }
  .item_area .img_area .btn_arr {
    opacity: 0;
    display: none;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
  }
  .item_area .move_area {
    position: relative;
    height: 108px;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  .item_area .move_area .desc {
    display: -webkit-box;
    overflow: hidden;
    /*-webkit-line-clamp:3;
				-webkit-box-orient:vertical;
				text-overflow:ellipsis;*/
  }
  .info_area .btn_arr {
    display: block;
  }
  .info_area .txt_info {
    position: absolute;
    top: 100px;
  }
  .info_area .notice_area {
    position: absolute;
    bottom: 50px;
  }
  .footer_area {
    position: absolute;
    bottom: 15px;
  }
  .footer .btn_arr {
    display: block;
  }
}
@-webkit-keyframes lnbOpen {
  0% {
    left: 0;
    background-color: #fff;
    color: #000;
  }
  50% {
    left: -50px;
  }
  100% {
    left: 0;
    background-color: #252525;
    color: #fff;
  }
}
@keyframes lnbOpen {
  0% {
    left: 0;
    background-color: #fff;
    color: #000;
  }
  50% {
    left: -50px;
  }
  100% {
    left: 0;
    background-color: #252525;
    color: #fff;
  }
}
@-webkit-keyframes lnbClose {
  0% {
    left: 0;
    background-color: #252525;
    color: #fff;
  }
  50% {
    left: -50px;
  }
  100% {
    left: 0;
    background-color: #fff;
    color: #000;
  }
}
@keyframes lnbClose {
  0% {
    left: 0;
    background-color: #252525;
    color: #fff;
  }
  50% {
    left: -50px;
  }
  100% {
    left: 0;
    background-color: #fff;
    color: #000;
  }
}
@-webkit-keyframes upContent {
  0% {
    bottom: 0;
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    bottom: 473px;
    opacity: 1;
  }
}
@keyframes upContent {
  0% {
    bottom: 0;
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    bottom: 473px;
    opacity: 1;
  }
}
/* @-webkit-keyframes downContent {
	0%   {bottom:480px; opacity: 1;}
	20%  {opacity: 0;}
	80%  {opacity: 0;}
	100% {bottom:0; opacity: 1;}
}
@keyframes downContent {
	0%   {bottom:480px; opacity: 1;}
	20%  {opacity: 0;}
	80%  {opacity: 0;}
	100% {bottom:0; opacity: 1;}
} */
@-webkit-keyframes upTitle {
  0% {
    bottom: 230px;
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    bottom: 460px;
    opacity: 1;
  }
}
@keyframes upTitle {
  0% {
    bottom: 230px;
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    bottom: 460px;
    opacity: 1;
  }
}
/* @-webkit-keyframes downTitle {
	0%   {bottom:235px; opacity: 1;}
	20%  {opacity: 0;}
	80%  {opacity: 0;}
	100% {bottom:0; opacity: 1;}
}
@keyframes downTitle {
	0%   {bottom:235px; opacity: 1;}
	20%  {opacity: 0;}
	80%  {opacity: 0;}
	100% {bottom:0; opacity: 1;}
}  */
