<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
	<title></title>
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <link rel="stylesheet" href="../../../resources/css/mobile/m_common.css">
    <link rel="stylesheet" href="../../../resources/css/mobile/theme/theme.css">
</head>
<body>
    <div class="theme_wrap">
        <h1 class="theme_top_title">이대편</h1>
        <img src="../../../resources/images/mobile/theme/top_banner.gif" alt="어디갈까? 고민말고 여기! 최고의 장소만을 코스별로 엄선하여 추천해드립니다." class="width100" />
    
        <div class="theme_contents">
            <img src="../../../resources/images/mobile/theme/bg_line.png" alt="" class="width100 bg_line_img" />  
            <a href="">
                <div class="theme_box theme_ewha1">
                    <div class="theme_img_area"></div>
                    <div class="theme_txt_area">
                        <h2 class="theme_tit">고냉지 김치찌개</h2>
                        <p class="theme_desc">맛 good, 가격 good<br />맛집! 여기로 오면 성공!</p>    
                    </div>
                </div>
            </a>  
            
            <a href="">
                <div class="theme_box theme_ewha2">
                    <div class="theme_img_area"></div>
                    <div class="theme_txt_area">
                        <h2 class="theme_tit">버블 헤어샵</h2>
                        <p class="theme_desc">나만의 스타일을 연출!<br />최고의 하루!</p>    
                    </div>
                </div>
            </a>  

            <a href="">
                <div class="theme_box theme_ewha3">
                    <div class="theme_img_area"></div>
                    <div class="theme_txt_area">
                        <h2 class="theme_tit">캘리네 다락방</h2>
                        <p class="theme_desc">우리들만의 장소에서<br />디저트/음료와 함께!</p>    
                    </div>
                </div>
            </a> 
            
            <a href="">
                <div class="theme_box theme_ewha4">
                    <div class="theme_img_area"></div>
                    <div class="theme_txt_area">
                        <h2 class="theme_tit">놀러와 볼링장(야광)</h2>
                        <p class="theme_desc">신나게 놀아보자!<br />맥주와 즐거움이 함께!</p>    
                    </div>
                </div>
            </a> 

        </div>
    </div>
</body>
</html>