@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: #666;
}
html, body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    font-size: 15px;
    font-family: "Noto Sans KR", Arial, sans-serif;
    font-weight: 300;
    color: #666;
}
.uppercase {
    text-transform: uppercase !important;
}
.text-left {
    text-align: left !important;
}
.fw400{
    font-weight: 400 !important;
}
.strong, .fw700 {
    font-weight: 700 !important;
}
.parkingWrap {
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}
.logo {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 95px;
}
.logo.bottom {
    top:auto;
    bottom:1em;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}
.logo > img {
    width: 100%;
    height: auto;
}
.txtBox {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
}
.txtBox .title {
    font-size: 40px;
    font-weight: 300;
    line-height: 1;
}
.txtBox .title span {
    font-weight: 700;
}
.txtBox .desc {
    font-size: 17px;
    line-height: 1;
    padding-top: 15px;
    padding-bottom: 30px;
}
.txtBox .price {
    font-size: 20px;
    font-weight: 700;
}
.txtBox .unit {
    font-size: 17px;
    font-weight: 300;
}
.txtBox .content {
    margin: 0 auto;
    padding: 30px 0;
    width: 80%;
}
.txtBox .email {
    font-weight: 700;
    line-height: 1;
}
.escrowBox {
    position: absolute;
    left: 0;
    bottom: 0;
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
}
.icon-circle {
    display: inline-block;
    position: absolute;
    left: -17px;
    top: 50%;
    width: 10px;
    height: 10px;
    border: 1px solid #40c4ff;
    border-radius: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
.icon-circle:before {
    content: '';
    display: inline-block;
    position: absolute;
    left: 2px;
    top: 2px;
    width: 4px;
    height: 4px;
    background: #40c4ff;
    border-radius: 50%;
}
/* .icon-mail {
    display: inline-block;
    width: 17px;
    height: 12px;
    background: url(../images/icon_mail.png) 0 0 no-repeat;
} */
.line {
    display: inline-block;
    width: 50px;
    height: 2px;
    background-color: #fff;
}
.btn {
    display: inline-block;
    padding: 23px 30px;
    border: 3px solid #fff;
    background-color: transparent;
    font-family: "Noto Sans KR";
}
a.btn {
    color: #fff;
    font-weight: 700;
}
.btn-white {
    padding: 20px 30px;
    background-color: rgba(255,255,255,.8);
    border-width: 1px;
}

.season {
    color: #fff;
}
.season .txtBox .content {
    padding-bottom: 45px;
}
.season .txtBox .title {
    font-size: 50px;
}
.parking1 {
    background-image: url(../images/parking_1_spring.jpg);
}
.parking2 {
    background-image: url(../images/parking_2_summer.jpg);
}
.parking3 {
    background-image: url(../images/parking_3_fall.jpg);
}
.parking4 {
    background-image: url(../images/parking_4_winter.jpg);
}
.parking5 {
    background-image: url(../images/parking_company_1.jpg);
    color: #3a5665;
}
.parking5 .txtBox {
    top: 35%;
}
.parking5 .title {
    font-size: 40px;
}
.parking5 .email a {
    color: #3a5665;
}
.parking6 {
    background-image: url(../images/parking_company_2.jpg);
    color: #444444;
}
.parking6 .txtBox .desc {
    padding-bottom: 0;
}
.parking6 .txtBox .desc,
.parking6 .content {
    font-weight: 400;
}
.parking6 .content,
.parking6 .email,
.parking6 .email a {
    color: #999999;
}
.parking7 {
    background-image: url(../images/parking_cs_1.gif);
    color: #000022;
}
.parking7 .txtBox {
    padding: 50px 10px;
    width: 95%;
    background: #fff url(../images/bg_cs_1.png) center 110px no-repeat;
    -webkit-background-size: 110px;
    background-size: 110px;
}
.parking7 .title {
    font-weight: 700;
    color: #222222;
}
.parking7 .content {
    padding-top: 50px;
    font-weight: 400;
}
.parking7 .email a {
    color: #000022;
}
.parking8 {
    background-image: url(../images/parking_cs_2.jpg);
    color: #fff;
}
.parking8 .txtBox .title {
    font-size: 30px;
}
.parking8 .email a {
    color: #fff;
}
.parking9 {
    background-image: url(../images/parking_personal_1.jpg);
    color: #000;
}
.parking9 .txtBox {
    top: 40%;
}
.parking9 .txtBox .content {
    padding: 50px 0;
}
.parking9 .email a {
    color: #000;
}
.parking9 .txtBox .content {
    font-weight: 400;
}

.parking10 {
    background-image: url(../images/parking_personal_2.jpg);
    color: #68728b;
}
.parking10 .email a {
    color: #68728b;
}
.parking10 .txtBox .title {
    font-weight: 700;
    color: #017ccd;
}
.parking11 {
    background-image: url(../images/parking_welcome_1.jpg);
    color: #222;
}
.parking11 .txtBox .title {
    font-size: 30px;
}
.parking11 .email a {
    color: #222;
}
.parking12 {
    background-image: url(../images/parking_welcome_2.gif);
    color: #222;
}
.parking12 .txtBox {
    width: 95%;
}
.parking12 .email a {
    color: #222;
}

.bgBd {
    border: 3px solid #fff;
    padding: 10px;
}
.bgBd .bgOuter {
    padding: 20px;
    background-color: #fff;
}
.bgBd .bgOuter .bgInner {
    padding: 30px 5px;
    border: 5px solid #000;
    background-color: #fff;
}

.parking13 {
    background-image: url(../images/parking_sell_01.jpg);
}
.parking13 .txtBox .title,
.parking13 .txtBox .desc,
.parking13 .txtBox .email,
.parking13 .txtBox .email a {
    color: #40c4ff;
}
.parking13 .txtBox .price,
.parking13 .txtBox .content {
    color: #fff;
}
.parking13 .txtBox .title {
    font-size: 35px;
    font-weight: 700;
}
.parking13 .txtBox .email {
    position: relative;
    font-weight: 700;
}
.parking13 .escrowBox {
    margin-bottom: 0;
    min-height: 60px;
    line-height: 60px;
    background-color: rgba(0,0,0,.5);
}

.parking14 {
    background-image: url(../images/parking_sell_02.jpg);
}
.parking14 .txtBox {
    top: 40%;
}
.parking14 .txtBox .title,
.parking14 .txtBox .desc {
    color: #00796b;
}
.parking14 .txtBox .content,
.parking14 .txtBox .email,
.parking14 .txtBox .email a {
    color: #5e8883;
}
.parking14 .txtBox .title {
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 5px;
}
.parking14 .txtBox .desc {
    padding-top: 15px;
    padding-bottom: 0;
    font-size: 25px;
    font-weight: 400;
}
.parking14 .txtBox .content {
    padding: 40px 0 45px 0;
    font-weight: 400;
}
.parking14 .txtBox .email {
    font-weight: 700;
}
.parking14 .txtBox .email .icon-mail {
    margin-right: 10px;
}
.parking14 .escrowBox {
    margin-bottom: 30px;
    color: #000;
}

.parking15 {
    background-image: url(../images/parking_sell_03.jpg);
}
.parking15 .txtBox .title {
    font-size: 30px;
    font-weight: 400;
}
.parking15 .txtBox .title span {
    font-weight: 700;
}
.parking15 .txtBox .desc {
    padding-bottom: 15px;
}
.parking15 .txtBox .price {
    margin-top: 10px;
    display: block;
}
.parking15 .txtBox .title,
.parking15 .txtBox .price {
    color: #fff;
}
.parking15 .txtBox .title span,
.parking15 .txtBox .desc {
    color: #ffff00;
}
.parking15 .txtBox .content,
.parking15 .txtBox .email,
.parking15 .txtBox .email a {
    color: #cccccc;
}
.parking15 .txtBox .email {
    font-weight: 300;
}
.parking15 .escrowBox {
    color: #7c809b;
}

.parking16 {
    background-image: url(../images/parking_sell_04.jpg);
}
.parking16 .logo {
    right: 20px;
    left: auto;
}
.parking16 .line {
    background-color: #cccccc;
}
.parking16 .txtBox {
    top: 45%;
}
.parking16 .txtBox .title {
    font-size: 30px;
    font-weight: 300;
    color: #fff;
}
.parking16 .txtBox .title span {
    font-weight: 300;
    color: #ff0000;
}
.parking16 .txtBox .desc {
    padding-bottom: 10px;
    color: #fff;
}
.parking16 .txtBox .email {
    font-weight: 700;
    text-decoration: underline;
}
.parking16 .txtBox .content {
    padding-top: 15px;
}
.parking16 .txtBox .content,
.parking16 .txtBox .email,
.parking16 .txtBox .email a {
    color: #999;
}
.parking16 .escrowBox span {
    display: inline-block;
    padding: 4px 10px;
    background-color: rgba(0,0,0,.2);
    letter-spacing: -1px;
}

@media (min-width: 768px) {
    .btn {
        font-size: 18px;
    }
    .col-sm-6 {
        float: left;
        width: 50%;
    }
    .bgBd .bgOuter .bgInner {
        padding: 110px 60px;
    }
    .logo {
        position: absolute;
        top: 40px;
        left: 40px;
        width: auto;
    }
    .txtBox .title {
        font-size: 100px;
    }
    .txtBox .desc {
        padding-bottom: 50px;
        font-size: 30px;
    }
    .txtBox .price {
        font-size: 40px;
    }
    .txtBox .unit {
        font-size: 30px;
    }
    .txtBox .content {
        padding: 70px 0;
        width: 35%;
        font-size: 20px;
    }
    .txtBox .email {
        font-size: 18px;
    }
    .escrowBox {
        font-size: 15px;
    }

    .season .txtBox .title {
        font-size: 92px;
    }
    .season .txtBox .content {
        padding-top: 40px;
        padding-bottom: 70px;
    }

    .parking5 .txtBox .content {
        padding-top: 115px;
    }
    .parking6 .txtBox .desc {
        padding-top: 20px;
        font-size: 25px;
    }
    .parking7 .txtBox {
        padding: 100px 30px;
        background-position: center 180px;
        -webkit-background-size: auto;
        background-size: auto;
    }
    .parking7 .txtBox .title {
        font-size: 50px;
        letter-spacing: 5px;
    }
    .parking7 .txtBox .content {
        width: 50%;
    }
    .parking8 .txtBox .title {
        font-size: 80px;
        letter-spacing: 5px;
    }
    .parking9 .txtBox .content {
        padding: 100px 0;
    }
    .parking10 .txtBox .title {
        font-size: 90px;
    }
    .parking10 .email {
        font-size: 20px;
    }

    .parking11 .txtBox .title {
        font-size: 70px;
    }
    .parking11 .txtBox .content {
        padding: 45px 0;
    }

    .parking12 .txtBox .title {
        font-size: 70px;
    }
    .parking12 .txtBox .content {
        padding: 50px 0;
        width: 90%;
    }

    .parking13 .txtBox .title {
        font-size: 100px;
    }
    .parking13 .txtBox .email {
        font-size: 20px;
    }

    .parking14 .txtBox {
        top: 30%;
    }
    .parking14 .txtBox .title {
        font-size: 30px;
    }
    .parking14 .txtBox .desc {
        font-size: 50px;
    }
    .parking14 .escrowBox {
        margin-bottom: 70px;
    }

    .parking15 .txtBox {
        width: 80%;
        text-align: left;
    }
    .parking15 .txtBox .title {
        font-size: 50px;
    }
    .parking15 .txtBox .title span {
        display: block;
        font-size: 100px;
    }
    .parking15 .txtBox .desc {
        padding-bottom: 50px;
        font-size: 20px;
    }
    .parking15 .txtBox .price {
        margin-top: 30px;
    }
    .parking15 .txtBox .content {
        padding-top: 0;
        width: 100%;
    }
    .parking15 .escrowBox {
        margin-bottom: 45px;
    }

    .parking16 .txtBox .title {
        font-size: 90px;
    }
    .parking16 .txtBox .desc {
        padding-bottom: 30px;
    }
    .parking16 .txtBox .content {
        padding-top: 30px;
    }
    .parking16 .escrowBox {
        margin-bottom: 80px;
    }
}
@media (min-width: 1025px) {
    .parking7 .txtBox {
        width: 60%;
    }
    .parking15 .txtBox {
        top: 20em;
        width: 60%;
    }
}
@media (min-width: 1367px) {
    .parking12 .txtBox {
        width: 40%;
    }
}
