<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
	<title>EVENT 참여하기</title>
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <link rel="stylesheet" href="../../../resources/css/mobile/m_common.css">
    <link rel="stylesheet" href="../../../resources/css/mobile/event/event.css">
</head>
<body>
    <div class="event_wrap">
        <a href="infavor://closeWebView" class="btn_close"><img src="../../../resources/images/mobile/event/close_btn.png" alt="" class="width100" /></a>

        <img src="../../../resources/images/mobile/event/main_top.gif" alt="" class="width100 block_img" />
        <img src="../../../resources/images/mobile/event/main_img.jpg" alt="" class="width100 block_img" />
        <img src="../../../resources/images/mobile/event/bottom_btn.gif" alt="" class="width100 block_img" />

        <a href="roulette.html" class="event_btn"></a>
    </div>
</body>
</html>